//
//  Debug.xcconfig
//  JBits
//
//  Created by Johan Basberg on 21/02/2020.
//  Copyright © 2020 Johan Basberg. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

OTHER_LD_FLAGS = $(inherited) -Wl,MyFramework_ARM
OTHER_LD_FLAGS[sdk=embeddedsimulator*] = $(inherited) -Wl,MyFramework_Sim 
